/**
 * Colors
 */
 $color__primary: #a5bbc9;

 $color-white: #fff;
 $color-blue: #7193a9;
 $color-blue-5: #c0cfd9;
 $color-blue-10: #a5bbc9;
 $color-gray: #7d7875;
 $color-gray-5: #eaeaea;
 $color-gray-10: #c6c6c6;
 $color-gray-60: #a5a4a4;
 $color-gray-70: #777;
 $color-gray-90: #333;
 $color-red: #da4848;
 $color-black: #000;
 $color-black-o-10: rgba(0, 0, 0, 0.1);
 
 $color__text-main: $color-black;
 $color__background-body: #fff;
 $color__background-screen: #f1f1f1;
 $color__background-hr: $color-gray;
 $color__background-pre: #eee;
 $color__background-ins: #fff9c0;
 
 $color__text-screen: #21759b;
 $color__link: $color-blue;
 $color__link-visited: purple;
 $color__link-hover: $color__primary;
 
 $color__border-button: #ccc #ccc #bbb;
 $color__border-button-hover: #ccc #bbb #aaa;
 $color__border-button-focus: #aaa #bbb #bbb;
 $color__border-abbr: #666;
 $color__border-input: #666;
 
 /**
   * Typography
   */
 $font__main: "Calibri", sans-serif;
 $font__secondary: "Caflisch Script Pro", sans-serif;
 $font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
 $font__pre: "Courier 10 Pitch", Courier, monospace;
 $font__line-height-body: 1.5;
 $font__line-height-pre: 1.6;
 
 /**
   * Structure
   */
 $size__site-main: 100%;
 $size__site-sidebar: 25%;
 
 /**
   * Breakpoint
   */
 $xsmall-devices: 575px;
 $phone-size: 768px; /*768 +1 to fix iPad. */
 $tablet-size: 1024px;
 $desktop-size: 1200px;