/*
Theme Name: RS Theme
*/

/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
	display: none;
}

table.shop_table_responsive tbody th {
	display: none;
}

table.shop_table_responsive tr td {
	display: block;
	text-align: right;
	clear: both;
}

table.shop_table_responsive tr td:before {
	margin-bottom: 8px;
	content: attr(data-title) ": ";
	float: left;
}

table.shop_table_responsive tr td.product-remove a {
	text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
	display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
	display: none;
}

table.shop_table_responsive tr td.download-actions .button {
	display: block;
	text-align: center;
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive thead {
		display: table-header-group;
	}
	table.shop_table_responsive tbody th {
		display: table-cell;
	}
	table.shop_table_responsive tr th, table.shop_table_responsive tr td {
		text-align: left;
	}
	table.shop_table_responsive tr td {
		display: table-cell;
	}
	table.shop_table_responsive tr td:before {
		display: none;
	}
}

/**
 * Products
 */
ul.products {
	margin: 0;
	padding: 0;
	content: "";
	
	li.product {
		position: relative;
		list-style: none;
		overflow: hidden;

		img {
			display: block;
		}
	}
}

@media screen and (min-width: 768px) {
	
	ul.products {

		li.product {
			&.first {
				clear: both;
			}
			
			&.last {
				margin-right: 0;
			}
		}

	}
}

/**
 * Single Product
 */
.single-product {
	div.product {
		position: relative;

		.woocommerce-product-gallery {
			position: relative;
		}
		
		.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
			position: absolute;
			top: 1em;
			right: 1em;
			display: block;
			z-index: 99;
		}
		
		.woocommerce-product-gallery .flex-viewport {
			margin-bottom: 1em;
		}
		
		.woocommerce-product-gallery__wrapper {
			float: left;
		}

		.woocommerce-product-gallery .flex-control-thumbs {
			content: "";
			table-layout: fixed;
			margin: 0;
			padding: 0;
		}
		
		.woocommerce-product-gallery .flex-control-thumbs li {
			float: left;
			margin-bottom: 16px;
			list-style: none;
			cursor: pointer;
		}
		
		.woocommerce-product-gallery .flex-control-thumbs li img {
			opacity: .5;
		}
		
		.woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
			opacity: 1;
		}
		
		.woocommerce-product-gallery .flex-control-thumbs li:hover img {
			opacity: 1;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
			width: 48.1%;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
			margin-right: 0;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
			clear: both;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
			width: 30.7966666667%;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
			margin-right: 0;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
			clear: both;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
			width: 22.15%;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
			margin-right: 0;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
			clear: both;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
			width: 16.96%;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
			margin-right: 0;
		}
		
		.woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
			clear: both;
		}
	}
	
}

.stock {
	&:empty:before {
		display: none;
	}
	
	&.in-stock {
		color: #a8b89f;
	}

	&.out-of-stock {
		color: #e40000;
	}
}


/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set .form-row-first {
		float: left;
		margin-right: 3.8%;
	}
	.col2-set .form-row-last {
		float: right;
		margin-right: 0;
	}
	.col2-set .form-row-first,
	.col2-set .form-row-last {
		width: 48.1%;
	}
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header-cart .cart-contents {
	text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
	display: none;
}

.site-header-cart .product_list_widget {
	margin: 0;
	padding: 0;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	
		&:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
			color: #D7AE3F;
		}
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	
		&:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
			color: #D7AE3F;
		}
	}
}

p.stars a {
	position: relative;
	height: 1em;
	width: 1em;
	text-indent: -999em;
	display: inline-block;
	text-decoration: none;
	margin-right: 1px;
	font-weight: 400;

	&:before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1em;
		height: 1em;
		line-height: 1;
		font-family: "star";
		content: "\53";
		color: #404040;
		text-indent: 0;
		opacity: .25;
	}
}

p.stars a:hover ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars:hover a:before {
	content: "\53";
	color: #D7AE3F;
	opacity: 1;
}

p.stars.selected a.active:before {
	content: "\53";
	color: #D7AE3F;
	opacity: 1;
}

p.stars.selected a.active ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars.selected a:not(.active):before {
	content: "\53";
	color: #D7AE3F;
	opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel h2:first-of-type {
		margin-bottom: 1em;
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;
}

.woocommerce-password-strength.strong {
	color: #0f834d;
}

.woocommerce-password-strength.short {
	color: #e2401c;
}

.woocommerce-password-strength.bad {
	color: #e2401c;
}

.woocommerce-password-strength.good {
	color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
	box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
	box-shadow: inset 2px 0 0 #e2401c;
}

.required {
	color: red;
}

/**
 * Notices
 */

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart .widget_shopping_cart {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999999;
		left: -999em;
		display: block;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	}
	.site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
		left: 0;
		display: block;
	}
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
	margin-bottom: 1.5em;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	margin-top: -6px;
	background: #fff;
	width: 18px;
	height: 18px;
	border: 2px solid #777;
	border-radius: 10rem;

	box-sizing: border-box;
	opacity: 1;
	outline: none;
	cursor: ew-resize;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -16px;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
	border-radius: 10rem;
}

.widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: #a5a4a4;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: 6px;

	.ui-slider-range {
		height: 6px;
	}
}