.page-template-about {
  
  .who-we-are {
    h2 {
      position: relative;

      &:after {
        margin-top: 30px;
        position: absolute;
        background-color: $color-blue;
        width: 100px;
        height: 4px;
        display: block;
        content: "";
      }
    }

    .mission-vission {
      > div {
        border-bottom: 1px solid $color-gray-5;
      }
  
      h3 {
        img {
          width: 14px;
          height: 7px;
  
          @include transition(0.3s);
        }
  
        &.active {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .services {
    
    .col-lg-4 {
      // 1024px
      @media (min-width: $tablet-size) {
        &:not(:last-child) {
          &:after {
            position: absolute;
            right: 0;
            top: calc(50% - 34px);
            background-color: $color-gray-60;
            width: 1px;
            height: 68px;
            content: "";
          }
        }
      }
    }
    
  }

}