.page-template-contact {

  h2 {
    position: relative;

    &:after {
      margin-top: 30px;
      position: absolute;
      background-color: $color-blue;
      width: 100px;
      height: 4px;
      display: block;
      content: "";
    }
  }

  .connect-with-us {
    h2 {
      &:after {
        background-color: $color-blue;
      }
    }

    article {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .get-in-touch {
    h2 {
      &:after {
        background-color: $color-white;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      background-color: #fff;
    }

    input[type="submit"] {
      background-color: $color-gray;
    }

    .wpcf7-form {
      br {
        display: none;
      }
    }
  }

}