.payment-partners {
	img {
		// 1024px
		@media (min-width: $tablet-size) {
			height: 100px;
		}
	}
}

.site-footer {
	.widget {
		margin-bottom: 0;
	}

	.footer-top {
		* {
			color: $color-white;
		}

		.col-lg-3 {
			&:not(:last-child) {
				border-right: 1px solid #fff;
			}
		}

		.footer-logo {
			img {
				width: 328px;
			}
		}

		.newsletter {
			input[type="text"] {
				background-color: #fff;
			}
			input[type="submit"] {
				padding: 4px 16px;
			}

			sup {
				color: $color-red;
			}
		}
	}
	
	.footer-bottom {
		.footer-menu {

			li {
				&:not(:last-child) {
					position: relative;
					padding-right: 24px;

					// 1024
					@media (min-width: $tablet-size) {
						&:after {
							position: absolute;
							top: calc(50% - 2px);
							right: 10px;
							background-color: $color-gray-90;
							width: 4px;
							height: 4px;
							border-radius: 10rem;
							content: "";
						}
					}
				}

				a {
					color: $color-gray-90;
				}
			}

		}
	}
}