/**
 * Front page
 */

.home {
	
	.site-main {
		margin: 0;
	}

	// hero
	.hero-slider {
		h2 {
			@include font-size(98);
			line-height: 0.8;

			// 1024px
			@media (min-width: $tablet-size) {
				@include font-size(118);
			}

			span {
				display: block;
			}
		}

		.item {
			padding-top: 80px;
			padding-bottom: 80px;
			background-position: right center;
			background-repeat: no-repeat;
			background-size: contain;
			
			// 768px
			@media (min-width: $tablet-size) {
				background-position: 120% ​center;
			}	
			
			// 1024px
			@media (min-width: $tablet-size) {
				padding-top: 102px;
				padding-bottom: 102px;
				background-position: right center;
			}
		}
	}

	// product-categories
	.product-categories {
		img {
			width: 338px;
			height: 240px;
			mix-blend-mode: darken;
		}

		a {
			border: 6px solid transparent;

			&:hover {
				border-color: $color-blue;
			}
		}
	}

	// featured-product
	.featured-product {
		ul,
		ol {
			margin-left: 16px;
			padding-left: 0;
		}

		.input-text {
			width: 80px;
		}

		.single_add_to_cart_button {
			padding: 4px 18px;
			background-color: $color-gray;

			&:hover {
				background-color: $color-blue;
			}
		}
		
		.type-product {
			.breadcrumbs,
			.product_title,
			.woocommerce-product-rating,
			.price,
			.yith-wcwl-add-to-wishlist,
			.product_meta {
				display: none;
			}
		}
	}

	// our-products
	.our-products {

		%_filter_hover {
			position: absolute;
			width: 100%;
			height: 2px;
			display: block;
			content: "";
		}

		.product-filter {
			a {
				&:after {
					@extend %_filter_hover;
				}

				&:hover,
				&:focus {
					color: $color-black;

					&:after {
						@extend %_filter_hover;
						background-color: $color-black;
					}
				}

				&.active {
					&:after {
						@extend %_filter_hover;
						background-color: $color-black;
					}
				}
			}
		}

		.product-lists {
			a {
				img {
					object-fit: cover;
					border: 4px solid transparent;
					
					// 1024px
					@media (min-width: $tablet-size) {
						height: 330px;
					}
				}

				&:hover {
					img {
						border-color: $color-blue;
					}
				}
			}
		}

	}
}