/**
 * Menu
 */
 .site-header {
  background: #fff;
  width: 100%;
  
  .header-top {
    padding-top: 15px;
    padding-bottom: 15px;

    a {
      padding-right: 12px;
      padding-left: 12px;
      color: $color-black;

      &:hover {
        color: $color__primary;
      }
    }
    
    ul {
      li {
        &:not(:last-child) {
          &:after {
            position: absolute;
            right: 0;
            top: 2px;
            background-color: $color-gray-5;
            width: 1px;
            height: 14px;
            content: "";
          }
        }
      }
    }

    input[type="search"] {
      width: 220px;
      padding: 5px 11px;
      background-color: #fff;
      color: rgba(17, 17, 17, 0.5);

      // 768px
      @media (min-width: $phone-size) {
        width: 180px;       
      }

      // 1024px
      @media (min-width: $tablet-size) {
        width: 160px;       
      }
    }
  }

  .header-bottom {
    padding-top: 20px;

    .site-branding {
      margin-right: 16px;
      
      .site-title {}
    }

    .partners {
      img {
        &:not(:last-child) {
          margin-right: 30px;
        }

        &:nth-child(1) {
          width: 146px;
        }
        &:nth-child(2) {
          width: 176px;
        }
        &:nth-child(3) {
          width: 106px;
        }
      }
    }

    .woocommerce-product-search {
      input[type="search"] {
        background-image: url(images/search-icon.png);
        background-repeat: no-repeat;
        background-position: 96% 50%;

        // 1024px
        @media (min-width: $tablet-size) {
          width: 300px
        }
      }
    }

    .cart-customlocation {
      max-width: 24px;
      flex: 0 0 24px;

      .cart-count {
        top: -8px;
        right: -10px;
        width: 20px;
        height: 20px;
      }
    }

    .menu-toggle {
      max-width: 24px;
      flex: 0 0 24px;

      padding: 0;
      width: 24px;
      height: 24px;
      border-color: $color-black;
      border-radius: 10rem;
      background-color: transparent;

      span {
        margin: 0 auto;
        background-color: $color-black;
        width: 12px;
        height: 1px;
        display: block;

        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }
  }
}

/**
 * Main navigation
 */
.main-navigation {
  z-index: 99;
  border-top: 1px solid $color-gray-5;
  border-bottom: 1px solid $color-gray-5;
  background-color: $color-white;
  
  ul {
    li {
      max-width: 12.5%;
      flex: 0 0 12.5%;
      
      &:not(:last-child) {
        a {
          border-right: 1px solid $color-gray-5;
        }
      }
    }
  }
}

/**
 * slide menu
 */
.slide-menu-active {
  &:before {
    position: absolute;
    z-index: 12;
    background: rgba(23, 23, 23, 0.6);
    width: 100%;
    height: 100%;
    content: "";
  }

  .slide-menu {
    position: fixed;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
      -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: scroll;

    @media (min-width: $xsmall-devices) {
      width: 360px;
    }
    
    .close-menu-btn {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(3px, 4px);
        }
  
        &:nth-child(2) {
          transform: rotate(-45deg) translate(2px, -2px);
        }
      }
    }
  }
}

.slide-menu {
  z-index: 992;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-blue;
  width: 90%;
  height: 100%;

  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
  transition: -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  -webkit-overflow-scrolling: touch;

  .close-menu-btn {
    position: absolute;
    top: 26px;
    right: 16px;
    
    span {
      background-color: #fff;
      width: 24px;
      height: 2px;
      border-radius: 50rem;
      content: "";
      display: block;
      @include transition(.8s);
      
      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  .mobile-navigation {
    margin-top: 64px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      
      ul {
        a {
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 32px;
        }

        ul {
          a {
            padding-left: 54px;
          }
        }
      }
    }

    li {
      position: relative;
      
      a {
        font-weight: 200;
        padding: 10px 16px;
        color: #fff;
        display: block;

        &:hover {
          color: $color__primary;
          text-decoration: none;
        }
      }

      &.current-menu-item {
        a {
          font-weight: 700;
          color: $color__primary;
        }
      }

      // sub-menu
      .mobiMenuChild {
        position: absolute;
        right: 6px;
        top: 11px;
        padding: 8px 16px;
        cursor: pointer;

        &:before {
          width: 12px;
          height: 12px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: rotate(225deg);
          display: block;
          content: "";

          @include transition();
        }
      }

      &.hidey {
        > ul {
          display: none;
        }

        .mobiMenuChild {
          top: 6px;
          
          &:before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
