/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: $color__link;

	&:visited {}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {}
	&:hover,
	&:active {
		outline: 0;
	}
	
	@include transition(0.25s);
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}