// Hero
.hero {
  background-color: $color-gray-10;

  h1 {
    line-height: 0.8;
  }

  .breadcrumb {
    * {
      color: $color-white;
    }

    li {
      position: relative;

      &:not(:last-child) {
        padding-right: 32px;

        &:after {
          position: absolute;
          top: 8px;
          right: 14px;
          background-color: $color-white;
          width: 2px;
          height: 20px;
          content: "";
          transform: rotate(28deg);
        }
      }
    }
  }
}

// entry-content
.entry-content {
  ul,
  ol {
    margin-left: 16px;
    padding-left: 0;
  }
}

// Slick slider
.slick-slider {}

.slick-arrow {
  z-index: 3;
  position: absolute;
  bottom: 38px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-indent: -9999px;

  &.slick-prev {
    left: 2.125rem;
    background: url(images/arrow-left-icon.svg) no-repeat left center;
  }

  &.slick-next {
    right: 2.125rem;
    background: url(images/arrow-right-icon.svg) no-repeat right center;
  }

  // 768px
  @media (min-width: $phone-size + .98) {
    width: 32px;
    height: 32px;

    &.slick-prev {
      left: 24px;
    }

    &.slick-next {
      right: 24px;
    }
  }
}

.slick-dots {
  z-index: 2;
  position: absolute;
  bottom: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style: none;

  @media (min-width: 575px) {
    bottom: 18px;
  }

  li {
    display: inline;

    &:not(:last-child) {
      margin-right: 8px;
    }
      
    button {
      padding: 4px;
      background-color: transparent;
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      text-indent: -9999px;
      display: inline-block;
      border-radius: 10rem;
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }

  }
}

// accesibility
.show-for-sr,
.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}