/**
* WooCommerce Cart page 
*/

.woocommerce-cart {
  .entry-header {
    display: none;
  }
  
  .desktop-cart {
    // desktop responsiveness
    // < 1024px
    @media (max-width: $tablet-size) {
      table.shop_table_responsive {
        tr {
          td {
            &.product-name {
              text-align: left;

              &:before {
                display: block;
                float: none;
              }
            }

            &.actions {
              text-align: center;

              .coupon {
                margin-bottom: 16px;
                float: none;
              }
            }
          }
        }
      }
    }
  }

  .woocommerce-cart-form {
      .shop_table {
          margin-bottom: 0;
          font-family: $font__main;
          border: 0;

          th,
          td {
            padding: 2rem 0;

            &.product-subtotal {
              text-align: right;
            }
          }

          th {
            font-weight: 700;
            @include font-size(16);
            text-transform: uppercase;
          }

          td {
              border-top: 1px solid $color__border-input;
          }

          .product-price,
          .product-subtotal {
              .amount {
                  font-weight: 700;
                  font-family: $font__main;
              }
          }

          .product-name {
              .product-title {
                  margin-left: 2rem;

                  > a {
                      font-weight: 500;
                      font-family: $font__main;
                      @include font-size(16);
                      text-transform: uppercase;
                      color: #000;
                  }

                  .remove {
                      @include font-size(14);
                      color: #808080;
                      text-decoration: underline;
                  }

                  .variation {
                      &-SelectColour {
                          margin: 0;
                      }
                  }
              }
          }

          .product-price {
          }

          .product-quantity {
              &:before,
              &:after {
                  display: table;
                  clear: both;
                  content: "";
              }

              .quantity-btn-wrapper {
                  display: -ms-flexbox;
                  display: flex;
                  align-items: center;

                  float: left;
              }
              .quantity {
                  input[type="text"],
                  input[type="number"] {
                      border-color: #ababab;
                      border-right: 0;
                      border-radius: 0;

                      // remove ios shadow
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                  }
              }

              .quantity-btn {
                .qty_button {
                  padding: 1.8px 2px;
                  background-color: #f4f2f0;
                  min-width: 28px;
                  display: block;
                  border: 1px solid #ababab;
                  border-radius: 0;
                  color: #000;
                  line-height: 0.99;

                  &.plus {}

                  &.minus {}
                }
              }
          }

          .product-subtotal {
          }
      }

      .button {
          padding: 0.625rem 0.8rem;
          background-color: transparent;
          @include font-size(14);
          font-family: $font__main;
          border: 1px solid $color__border-input;
          color: $color__primary;
          cursor: pointer;

          // 1024px
          @media (min-width: $tablet-size) {
              padding: 10px 18px;
          }

          &:hover {
              background-color: $color__border-input;
              color: #fff;
          }
      }

      .coupon {
          label {
              display: none;
          }

          input[type="text"] {
              padding: 0.4rem 0.4rem 0.4rem 2.2rem;
              background: #fff url(images/tag-icon.jpg) no-repeat 0.6rem
                  center;
              @include font-size(14);
              color: #000;
          }
      }
  }

  .cart-collaterals {
    padding-top: 3rem;
    border-top: 1px solid $color__border-input;

    // 1024px
    @media (min-width: $tablet-size) {
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end;
    }

    .cart_totals  {
      // 1024px
      @media (min-width: $tablet-size) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    .cross-sells {
      .products {
          &.columns-2 {
            .product {
              width: 100%;

              // 1024px
              @media (min-width: $tablet-size) {
                width: 82%;
              }
            }
        }
      }
    }

    .cart_totals {
        h2 {
          margin-bottom: 0;
          padding: 30px 30px 0 30px;
          background-color: $color-blue;
          font-weight: 700;
          @include font-size(18);
          text-transform: uppercase;
          color: #000;
        }

        .order-summary {
          padding: 30px;
          background-color: $color-blue;
        }
        h3 {
          margin-bottom: 36px;
          font-weight: 400;
          @include font-size(16);
          color: $color__primary;
        }

        .shop_table {
            margin-bottom: 0;
            border: 0;

            th,
            td {
                padding: 8px 0;
                font-weight: 500;
                @include font-size(16);
                border: 0;
                border-bottom: 1px solid hsl(0deg 0% 80% / 65%);
            }

            td {
                text-align: right;
            }

            tr {
                vertical-align: top;
            }

            .cart-subtotal {
                th {
                    text-transform: initial;
                }
            }

            .order-total {
                color: #000;
                vertical-align: middle;

                th,
                td {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }

                th {
                    font-weight: 600;
                    @include font-size(16);
                }
                td {
                    font-weight: 700;
                    font-family: $font__main;
                    @include font-size(20);
                }
            }
        }

        .wc-proceed-to-checkout {
            margin-top: 34px;

            .checkout-button {
                padding: 0.6rem;
                background-color: $color-black;
                @include font-size(14);
                border: 0;
                display: block;
                text-align: center;
                text-transform: uppercase;
                color: #fff;

                &::before {
                  position: relative;
                  top: 2px;
                  margin-right: 0.8rem;
                  background: url("images/lock-icon.png") no-repeat 0 0;
                  width: 16px;
                  height: 19px;
                  display: inline-block;
                  content: "";
                }

                &:hover,
                &:active,
                &:focus {
                  background-color: $color-blue;
                  text-decoration: none;
                }
            }
            .secure-checkout-text {
                margin-top: 1rem;
                @include font-size(12);
                text-align: center;
            }
        }
    }
  }
}
