.woocommerce-shop,
.woocommerce-product-category {

  // sidebar
  .widget {
    &:not(:last-child) {
      margin-bottom: 32px;
      padding-bottom: 32px;
      border-bottom: 1px solid $color-gray-5;
    }
    &:first-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    
    h2 {
      font-weight: 700;
      @include font-size(18);
    }
  }

  .wc-block-product-categories-list {
    a {
      color: $color-black;

      &:hover {
        color: $color-blue;
      }
    }
    
    li {
      position: relative;

      .toggle-categories {
        position: absolute;
        top: -4px;
        right: 0;

        padding: 14px;
        background-image: url(images/dropdown-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        content: "";
        cursor: pointer;

        @include transition();

        &.active {
          transform: rotate(180deg);
        }
      }
    }
      ul {
        margin-top: 8px;
        margin-left: 16px;
        display: none;

        &.visible {
          display: block;
        }
      }
  }

  .widget_price_filter {
    .price_slider_wrapper {
      .price_slider_amount {
        display: -ms-flexbox;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-between;

        .price_label {
          flex: 0 0 66.66%;
          max-width: 66.66%;
        }
        .button {
          flex: 0 0 33.33%;
          max-width: 33.33%;
        }

        .button {
          margin: 0;
          padding: 0;
          background-color: transparent;
          color: $color-black;
          text-align: right;
        }
      }

    }
  }

  .widget_layered_nav {
    a {
      color: $color-gray-90;

      &:hover {
        color: $color-blue;
      }
    }
    
    .count {
      color: $color-gray-60;

    }

    .chosen {
      a {
        color: $color-blue;
      }
    }

    // size
    &#woocommerce_layered_nav-3 {
      
      a {
        position: relative;
        
        &:before {
          position: absolute;
          left: -26px;
          top: calc(100% - 17px);
          
          background-image: url(images/check-icon.svg);
          background-size: cover;
          width: 16px;
          height: 16px;
          content: "";
        }
        
        &:hover {
          &:before {
            background-image: url(images/checked-icon-active.svg);
          }
        }
      }

      ul {
        padding-left: 27px;

        li {
          &.chosen {
            a {
              &:before {
                background-image: url(images/checked-icon-active.svg);
              }
            }
          }
        }
      }
      
    }
  }

  // main
  .product-display-filter {
    a {
      &:hover {
        path,
        rect {
          fill: $color-blue;
        }
      }
    }
  }

  /**
  * Products
  */
  &.product-display--grid {
    .product-display-filter {
      [data-id="grid"] {
        svg {
          rect {
            fill: #7193a9;
          }
        }
      }
    }

    ul.products {
      display: -ms-grid;
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 24px;
      column-gap: 24px;		
    }
  }

  &.product-display--list {
    .product-display-filter {
      [data-id="list"] {
        svg {
          rect {
            fill: #7193a9;
          }
        }
      }
    }
    
    ul.products {
      li.product {
        a {
          // 768px
          @media (min-width: 768px) {
            display: -ms-flexbox;
            display: flex;
            column-gap: 24px;
            
            img {
              max-width: 16.666667%;
              flex: 0 0 16.666667%;
            }
            
            div {
              max-width: 66.666667%;
              flex: 0 0 66.666667%;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    
    &.product-display--grid {
      
      ul.products {
        &.columns-1 {
          grid-template-columns: auto auto auto;

          li.product {
            float: none;
          }
        }
        
        &.columns-2 {
          grid-template-columns: auto auto;
        }

        &.columns-3 {
          grid-template-columns: auto auto auto;
        }

        &.columns-4 {
          grid-template-columns: auto auto auto auto;
        }
      }

    }
  }

}