/**
* WooCommerce page
*/
.woocommerce-checkout {
  .entry-header {
      display: none;
  }

  form {
      h3 {
          margin-bottom: 24px;
          @include font-size(18);
          color: #000;
          text-transform: uppercase;
      }

      .col-second {
          border-top: 1px solid $color__border-abbr;
          margin-top: 3rem;
          padding-top: 3rem;
      }

      input[type="checkbox"] {
          margin-right: 0.6rem;
      }
  }

  .woocommerce-billing-fields {
      margin-top: 2.4rem;

      .mailchimp-newsletter {
          .input-checkbox {
              float: left;
          }
      }
  }

  .woocommerce-shipping-fields {
      h3 {
          font-weight: 400;
          font-family: $font__main;
          @include font-size(16);

          span {
              font-family: $font__main;
          }
      }
  }

  .woocommerce-additional-fields {
      &__field-wrapper {
          .input-text {
              padding: 1rem;
              min-height: 136px;
          }
      }
  }

  .woocommerce-checkout-review-order {
    .woocommerce-checkout-review-order-table {
      padding: 30px;
      background-color: $color-blue-10;
      border-spacing: 0;
      border-radius: 0;
      border: 0;

        th,
        td {
          padding: 8px 0;
          @include font-size(14);
          border: 0;
          border-bottom: 1px solid hsl(0deg 0% 80% / 65%);

          &.product-total {
            font-weight: 700;
            text-align: right;
          }
        }

        tr {
          vertical-align: top;
        }

        thead {
          th,
          td {
            padding-bottom: 1rem;
          }

          th {
            @include font-size(18);
            color: $color-black;
          }
        }

        tbody {
            th,
            td {
                padding: 8px 0;
                font-family: $font__main;
                text-transform: uppercase;
            }

            tr {
                &:last-child {
                    th,
                    td {
                        // padding-bottom: 1.8rem;
                    }
                }
            }
        }

        tfoot {
            td {
                text-align: right;
            }

            .cart-subtotal,
            .order-total {
                th,
                td {
                    padding-top: 1.6rem;
                }
            }

            .cart-subtotal {
                th,
                td {
                    border-top: 1px solid $color__border-abbr;
                }
            }

            .order-total {
                color: #000;

                th,
                td {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }

                th {
                    @include font-size(16);
                }

                td {
                    font-weight: 700;
                    @include font-size(20);
                }
            }
        }
    }

    .woocommerce-checkout-payment {
        margin-top: 2rem;

        .payment-information {
            padding: 30px;
            background-color: $color-blue;

            .wc_payment_methods {
                padding: 0;
                margin: 0;
                list-style: none;

                .wc_payment_method {
                    label {
                        font-family: $font__main;
                        @include font-size(16);
                        color: $color__primary;
                    }

                    .payment_box {
                        p,
                        p label {
                            @include font-size(14);
                        }
                    }

                    &.payment_method_stripe {
                        > label {
                            img {
                                display: none;
                            }
                        }

                        .payment_box {
                            .wc-payment-form {
                                .form-row {
                                    &:before,
                                    &after {
                                        content: "";
                                        clear: both;
                                        display: table;
                                    }

                                    &-first,
                                    &-last {
                                        width: 48%;
                                    }

                                    &-first {
                                        float: left;
                                    }
                                    &-last {
                                        float: right;
                                    }

                                    .wc-stripe-elements-field,
                                    .wc-stripe-iban-element-field {
                                        border: 1px solid
                                            $color__border-input;
                                    }
                                }
                            }

                            .woocommerce-SavedPaymentMethods-saveNew {
                                label {
                                    @include font-size(14);
                                }
                            }
                        }
                    }
                }
            }

            .place-order {
                .button,
                button[type="submit"] {
                    width: 100%;
                    font-family: $font__main;
                }

                .woocommerce-terms-and-conditions-wrapper {
                }
                .woocommerce-privacy-policy-text {
                    p {
                        @include font-size(12);
                    }
                }

                &__notice {
                    margin-top: 1rem;
                    text-align: center;

                    p {
                        @include font-size(12);
                    }

                    .logos {
                        img {
                            padding: 0 0.4rem;

                            &:nth-child(1) {
                                height: 16px;
                            }
                            &:nth-child(2) {
                                height: 32px;
                            }
                            &:nth-child(3) {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #pwgc-redeem-gift-card-form {
      input[type="text"] {
        float: left;
        width: 40%;
      }

      input[type="submit"] {
        margin-top: 0 !important;
        float: right;
        width: 60%;
        height: 42px;
      }
    }
  }
}