.woocommerce-error, 
.woocommerce-info,
.woocommerce-message {
    padding: 1em 2em 1em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid $color__primary;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;

    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::before {
        font-family: WooCommerce;
        // content: "\e028";
        content: "";
        display: inline-block;
        position: absolute;
        top: 1em;
        left: 1.5em;
    }

    &::after {
        clear: both;
    }
}