/**
* WooCommerce Product Single page
*/

.single-product {
  .site-main {
    margin-top: 50px;
  }

  .breadcrumb-wrap {
    display: none;
  }

  .woocommerce-product-gallery {

    figure {
      > div {
        background-color: #fff;
      }
    }

    &__wrapper {
      img {
        object-fit: cover;

        // 1024px
        @media (min-width: $tablet-size) {
          width: 100%;
        }
      }
    }

    .flex-control-nav {
      overflow: auto;
    }

    .flex-direction-nav {
      margin-left: 0;
      padding-left: 0;

      // hide for now
      display: none;
    }
  }

  .summary {
    .entry-title {
      margin-bottom: 0;
      font-weight: 700;
      @include font-size(26);
      color: $color-gray-90;
    }

    .woocommerce-product-rating {
      margin-top: 12px;
      margin-bottom: 12px;
      display: -ms-flexbox;
      display: flex;

      a {
        @include font-size(14);
        color: #000;
      }

      .star-rating {
        margin-right: 8px;
      }
    }

    .price {
      margin-bottom: 12px;
      font-weight: 700;
      @include font-size(30);
      color: $color-blue;

      del {
        .amount {
          @include font-size(24);
        }
      }
      ins {
      }
      .amount {
      }
    }

    .woocommerce-product-details__short-description {
      * {
        color: $color-gray-70;
      }

      ol,
      ul {
        padding-left: 0;
        margin-left: 16px;
      }
    }

    // addons
    .wc-pao-addon-container {
      display: -ms-flexbox;
      display: flex;
      align-items: center;

      label {
        flex: 0 0 80px;
        max-width: 80px;

        .required {
          display: none;
        }

        .wc-pao-addon-image-swatch-price {
          display: none;
        }
      }

      .wc-pao-addon-wrap {
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
      }

      &.wc-pao-addon-color {
        .wc-pao-addon-wrap {
          .wc-pao-addon-image-swatch {
            width: 24px;
            height: 24px;
            outline: 0;

            img {
              padding: 2px;
              border: 2px solid $color-gray-5;
              border-radius: 10rem;

              &:hover {
                border-color: $color-gray-70;
              }
            }

            &.selected {
              img {
                border-color: $color-gray-70;
              }
            }
          }
        }
      }
    }

    .product-addon-totals {
      ol,
      ul {
        margin-left: 0;
        padding-left: 0;

        li {
          font-weight: 400;

          strong {
            font-weight: 400;
          }
          .amount {
            font-weight: 700;
          }
        }
      }

      .wc-pao-subtotal-line {
        .price {
          font-weight: 400;
          @include font-size(18);
          text-align: right;

          .amount {
            @include font-size(32);
            color: $color-blue;
            display: block;
          }
        }
      }
    }
  }

  .yith-wcwl-add-button {
    a {
      color: $color-gray-70;
    }
  }

  .product_meta {
    margin-top: 28px;
    padding-top: 28px;
    border-top: 1px solid $color-gray-5;

    a {
      color: $color-gray-70;
    }
  }

  form.cart {
    &:after {
      content: "";
      display: table;
      table-layout: fixed;
    }

    select,
    input[type="text"],
    input[type="number"] {
      width: 100%;
    }

    .variations {
      &__item {
        margin-bottom: 16px;
        display: block;
      }
    }

    .woocommerce-variation {
      display: none !important;
      
      * {
        color: $color-gray-70;
      }

      ol,
      ul {
        margin-left: 16px;
        padding-left: 0;
      }
    }

    .quantity-wrapper {
      .input-text {
        width: 80px;
      }
    }

    .single_add_to_cart_button {
      padding: 4px 18px;
      background-color: $color-gray;

      &:hover {
        background-color: $color-blue;
      }
    }

  }

  .wcpa_has_options {
    .wcpa_form_outer {
      .wcpa_color {
        position: relative;

        input[type=radio] {
          top: 20px;
          left: 10px;
        }
      }
      
      .wcpa_priceouter {
        display: none;
      }
    }

    .wcpa_price_summary {
      display: none;
    }
  }

  // quote button
  .gpls_rfq_set_div {
    margin: 0;
    padding: 0;
    display: block;
  }

  .gpls_rfq_set {
    margin: 0;
  }

  // reviews
  .woocommerce-Reviews {
    .woocommerce-Reviews-title {
        @include font-size(16);
        text-transform: uppercase;

        span {
            font-family: $font__main;
        }
    }

    .commentlist {
      margin-left: 0;
      padding-left: 0;

      .review {
        padding-top: 18px;

        .comment_container {
          display: -ms-flexbox;
          display: flex;

          > img {
            flex: 0 0 80px;
            max-width: 80px;

            margin-right: 16px;
            height: 80px;
          }

          .description {
            p {
              @include font-size(14);
            }
          }
        }
      }
    }

    .comment-respond {
      .comment-reply-title {
        font-family: $font__main;
        font-weight: 500;
        @include font-size(14);
        text-transform: uppercase;
      }
    }
  }
}

.woocommerce-tabs {
  margin-top: 50px;
  border-top: 1px solid $color-gray-5;

  .tabs {
    display: flex;

    a {
      position: relative;
      font-family: $font__secondary;
      @include font-size(30);
      color: $color-gray-70;
    }

    li {
      &:not(:last-child) {
        margin-right: 32px;
      }

      &.active {
        a {
          color: $color-black;

          &:after {
            position: absolute;
            background-color: $color-blue;
            width: 100%;
            height: 4px;
            display: block;
            content: "";
          }
        }
      }
    }    
  }

  .woocommerce-Tabs-panel { 
    * {
      color: $color-gray-70;
    }
    
    h2 {
      display: none;
    }

    ol,
    ul {
      margin-left: 16px;
      padding-left: 0;
    }
  }
}

// related products
.related-products {
  padding: 48px 0;
  background-color: $color-blue-5;

  // 1024px
  @media (min-width: $tablet-size) {
    padding: 70px 0;
  }

  .related {
    > h2 {
      margin-bottom: 30px;
      font-family: $font__secondary;
      @include font-size(50);
      color: #000;
      text-align: left;
    }

    ul.products {
      display: -ms-grid;
      display: grid;
      grid-template-columns: auto auto;
      row-gap: 24px;
      column-gap: 24px;

			&.columns-1 {
				grid-template-columns: auto auto auto;

				li.product {
					float: none;
				}
			}
			
			&.columns-2 {
				grid-template-columns: auto auto;
			}

			// 768px
      @media (min-width: $phone-size) {
        &.columns-3 {
          grid-template-columns: auto auto auto;
        }
        
        &.columns-4 {
          grid-template-columns: auto auto auto auto;
        }
      }
		}

  }
}

.mailing-list {
  br {
    display: none;
  }
  
  h3 {
    @include font-size(28);
  }

  input[type="email"],
  input[type="submit"] {
    border-radius: 0;
  }

  input[type="email"] {
    padding: 11px 16px;
    background-color: $color-white;
  }
  input[type="submit"] {
    background-color: $color-gray;
  }
}