/**
 * WooCommerce sub-pages 
 */
 
.woocommerce,
.woocommerce-page {

  img {
    height: auto;
    max-width: 100%;
  }

  .onsale {
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #d79142;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.2rem 0.6rem;
    color: #fff;
  }
  
  .outofstock {
    position: relative;

    .out-of-stock {
      p {
        font-family: $font__main;
        @include font-size(12);
        color: $color-red;
        
        // 1024px
        @media (min-width: $tablet-size) {
          @include font-size(16);
        }
      }
    }
  }
    
  // arrow
  .arrow {
    width: 36px;
    height: 36px;
    border-right: 2px solid #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    display: inline-block;
    opacity: 1;
    
    &.down {
      transform: rotate(45deg);
    }
  }

  .quantity {
    .qty {
      width: 80px;
      text-align: center;
    }
  }

  .price {
    del {}
    ins {
      background: transparent;
      color: $color-blue;
    }
      .amount {}
  }

    form {
      .form-row {
        margin: 0 0 6px 0;
        
        // reset bootstrap
        display: inherit;
        flex-wrap: inherit;

        &::before,
        &::after {
          content: ' ';
          display: table;
        }

        &::after {
          clear: both;
        }

        label {
          @include font-size(14);
          display: block;
          line-height: 2;

          .required {
            text-decoration: none;
          }
        }
        .input-text {
          box-sizing: border-box;
          width: 100%;
        }
        textarea {
          box-sizing: border-box;
          width: 100%;
          margin: 0;
          outline: 0;
          line-height: normal;
        }
      }

      .form-row-wide {
        clear: both;
      }
    }
    
    table {
        &.cart {
          img {
            width: 126px;
            height: auto;
            box-shadow: none;
          }

          input {
            margin: 0;
            vertical-align: middle;
          }

          td {
            &.actions {
              text-align: right;

              .coupon {
                float: left;

                display: -ms-flexbox;
                display: flex;

                .input-text {
                  margin-right: 8px;
                }
              }
            }
          }
        }

        &.shop_table {
            border: 1px solid rgba(0,0,0,.1);
            margin: 0 -1px 24px 0;
            text-align: left;
            width: 100%;
            border-collapse: separate;
            border-radius: 5px;

            th {
                font-weight: 700;
                padding: 9px 12px;
                line-height: 1.5em
            }

            td {
                border-top: 1px solid rgba(0,0,0,.1);
                padding: 9px 12px;
                vertical-align: middle;
                line-height: 1.5em

                small {
                    font-weight: 400
                }
                
            }

            tbody:first-child tr:first-child td,
            tbody:first-child tr:first-child th {
                border-top: 0
            }

            tbody th,
            tfoot td,
            tfoot th {
                font-weight: 700;
                border-top: 1px solid rgba(0,0,0,.1)
            }

            .woocommerce-shipping-methods {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .woocommerce-shipping-destination {
                margin-bottom: 0;
            }

            .woocommerce-shipping-methods {
                li {
                    label {
                        margin-bottom: 0;
                    }
                    
                    input[type="radio"] {
                        margin-right: 0.6rem;
                    }
                }
            }
            
        }

        &.my_account_orders {
            td,
            th {
                padding: 4px 8px;
                vertical-align: middle
            }

            .button {
                white-space: nowrap
            }

            .order-actions {
                text-align: right;

                .button {
                    margin: .125em 0 .125em .25em
                }
            }
        }
    }
    
  &.product-display--grid {
    .products {
      .product {

        .woocommerce-loop-product__link {
          img {
            object-fit: cover;
            
            // 1024px
            @media (min-width: $tablet-size) {
              height: 330px;
            }
          }
        }

      }
    }
  }

  .products {
    .product {
      img {
        width: 100%;
      }

      .woocommerce-loop-product__link {
        margin-bottom: 1rem;
        color: $color__primary;

        &:hover {
          img {
            border-color: $color-blue;
          }
        }

        img {
          border: 4px solid transparent;
        }
        
        .woocommerce-loop-product__title {
          margin-top: 16px;
          margin-bottom: 8px;
          padding-right: 22px;
          font-weight: 500;
          @include font-size(18);
          color: #000;
          
          // 1024px
          @media (min-width: $tablet-size) {
            @include font-size(16);
          }
        }
        
        .price {
          font-family: $font__main;
          font-weight: 700;
          @include font-size(12);
          color: #000;

          // 1024px
          @media (min-width: $tablet-size) {
            @include font-size(16);
          }
        }
      }
    }
  }

  .woocommerce-pagination {
    margin-top: 42px;

    // 1024px
    @media (min-width: $tablet-size) {
      margin-top: 68px;
    }
    
    ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      column-gap: 8px;

      .page-numbers {
        padding: 8px 12px;
        background-color: $color-gray-5;
        border-radius: 6px;
        color: $color-gray-90;

        &:hover,
        &.current {
          background-color: $color-gray-60;
          color: $color-white;
        }
      }
    }
  }

  .woocommerce-table {
    &--order-details {
      h2 {
        margin-bottom: 16px;
      }

      .product-name {
        width: 50%;
      }
    }
  }

  .woocommerce-order {
    h2 {
      @include font-size(24);
      text-transform: uppercase;
    }

    &-overview {
      margin-left: 0;
      padding-left: 20px;
    }
  }
  
  .woocommerce-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .col-1,
    .col-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

}

.cross-sells,
.up-sells {
  position: relative;

  // 1024px
  @media (min-width: $tablet-size) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  
  h2 {
    margin-bottom: 2rem;
    font-weight: 400;
    @include font-size(16);
    color: $color__text-main;
    text-transform: initial;
  }

  .products {
    .product {
      margin-bottom: 16px;

      // 1024px
      @media (min-width: $tablet-size) {
        margin-bottom: 0;
      }

      .woocommerce-loop-product__link {
        margin-bottom: 0;
        
        &:hover {
          img {
            border-color: $color-blue;
          }
        }

        img {
          border: 4px solid transparent;
          object-fit: cover;
          
          // 1024px
          @media (min-width: $tablet-size) {
            height: 330px;
          }
        }
      }
    }

    .outofstock {
      .out-of-stock {
        margin-top: -24px;
      }

      .price {
        visibility: hidden;
      }
    }
  }
}

// variations_form
form.variations_form,
form.cart {
  .quantity-label {
    flex: 0 0 60px;
    max-width: 60px;
  }

  .quantity-btn-wrapper {
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    .quantity {
      input[type="text"] {
        border-color: #ababab;
        border-right: 0;
        border-radius: 0;
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }

    .quantity-btn {
      .qty_button {
        padding: 1.9px 2px;
        background-color: #f4f2f0;
        min-width: 28px;
        display: block;
        border: 1px solid #ababab;
        border-radius: 0;
        color: #000;
        line-height: .99;
      }
    }
  }
}

.variations {
  margin-bottom: 0;

  tr td {
    vertical-align: top;
  }

  select#pa_color {
    display: none;
  }

  .variation-radios {
    label {
      margin-right: 6px;
      margin-bottom: 16px;
      cursor: pointer;

      input[type="radio"] {
        display: none;
      }

      img {
        padding: 3px;
        width: 22px;
        height: 22px;
        border-radius: 10rem;
        border: 1px solid $color-gray-5;
      }

      &:hover,
      &.active {
        img {
          border-color: $color-gray-60;
        }
      }
    }
  }
}

// addons
.wcpa_form_outer {
  margin-bottom: 16px;
}
  .wcpa_row {
    .wcpa_form_item {
      margin-bottom: 0;

      display: -ms-flexbox;
      display: flex;
      align-items: center;

      > label {
        flex: 0 0 60px;
        max-width: 60px;
      }
      > div {
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
      }

      .wcpa_color {
        margin-right: 10px !important;

        label {
          @include font-size(0);
        }
        input[type="radio"] {
          display: none;
        }
      }
    }
  }

.pswp {
  z-index: 99992;
}