.widget_mf-product-color-filter {}
	.widget_mf-product-color-filter ul {
		display: -ms-flexbox;
		display: flex;

    margin-left: 0;
    padding-left: 0;
		list-style: none;
	}
		.widget_mf-product-color-filter li:not(:last-child) {
			margin-right: 16px;
		}
			.widget_mf-product-color-filter img {
				padding: 3px;
				width: 22px;
				height: 22px;
				border-radius: 10rem;
				border: 1px solid #eaeaea;
			}
			
			.widget_mf-product-color-filter a:hover img,
			.widget_mf-product-color-filter a.chosen img {
				border-color: #a5a4a4;
			}