.widget-area {
	margin-bottom: 52px;

	// 1024px
	@media (min-width: $tablet-size) {
		margin-bottom: 64px;
	}
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	.widget-title {
		margin-bottom: 1.25rem;
	}
	
	ul {
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 0;
		list-style: none;

		li {
			margin-bottom: 10px;

			a {
				font-weight: 500;
				@include font-size(14);
				color: $color__link;

				svg {
					margin-right: 0.375rem;
				}
			}
		}
	}
}