input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  width: 100%;
  padding: 10px 17px;
  background-color: transparent;
  @include font-size(14);
  color: $color-gray-10;
  border: 1px solid $color-gray-5;
  border-radius: 5px;

  &:focus {
    background-color: #fff;
    outline: none;
    border-color: $color-blue;
  }

  &.has-icon {
    padding-left: 76px;
    background-repeat: no-repeat;
    background-position: 36px center;
  }
  &.align-right-icon {
    padding-left: 30px;
    background-position: 92% 50%;
    
    + label {
      left: 32px !important;
    }
  }

  &.search-icon {
    background-image: url(images/search-icon.svg);
  }

  &.has-placeholder + label {
    color: $color-black-o-10;
  }
}

select {
  padding: 8px 16px;
  font-weight: 500;

  background-image: url(images/dropdown-icon.png);
  background-repeat: no-repeat;
  background-position: 92% 50%;

  appearance: none;
  -webkit-appearance: none;
  
  &.is-inputted {
    background-color: #fff;
    color: #000;
    border-color: $color-blue;
  }
}

/**
 * Input UI
 */
input:not(#wp-submit) {
  content: "";

  + label {
    top: calc(50% - 13.5px);
    left: 78px;

    // transition
    @include transition();
  }

  &:focus,
  &.is-inputted {
    background-color: #fff;
    color: #000;
    border-color: $color-blue;

    + label {
      top: calc(28% - 13.5px);
      @include font-size(12);
    }
  }
}

// checkbox
input[type="checkbox"] {
  position: relative;
  top: 3px;

  margin-right: 8px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: 2px solid $color-black-o-10;
  border-radius: 12px;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &:checked {
    outline: none;
    border-color: $color-blue;

    &::after {
      position: absolute;
      top: 4px;
      left: 11px;
      border-right: 2px solid $color-blue;
      border-bottom: 2px solid $color-blue;
      width: 8px;
      height: 18px;
      content: "";
      transform: rotate(45deg);
    }
  }
}

// radio
input[type="radio"]:not(#wp-submit) {
  position: relative;
  top: 3px;

  margin-right: 8px;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: 2px solid $color-black-o-10;
  border-radius: 10rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include transition(0.2s);

  &:focus {
    outline: none;
    border-color: $color-blue;
  }

  &:checked {
    border: 2px solid $color-blue;

    &::after {
      position: absolute;
      top: 6px;
      left: 6px;
      background-color: $color-blue;

      width: 18px;
      height: 18px;
      border-radius: 10rem;
      content: "";
    }
  }
}
